header {
    font-size: 19px;
    margin: auto;
    width: 50%;
    border: 3px solid transparent;
    padding: 20px;
    text-align: center;
    color: aqua
}

img.animated-gif {
    width: 120px;
    height: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 65%;
}

button {
   width: 125px;
    background: linear-gradient(to right, rgba(20,245,223,1) 35%, rgba(0,212,255,1) 100%);
    border-radius: 40px;
    box-shadow: 0 6px #0000CD;
    font-size: 13px;
    margin: 5px;
    padding: 25px 15px 25px 15px;
    color: white;
}
.selected {
    color: yellow;
}
body {
    background: linear-gradient(to bottom, #25395C, #2787EA, #1C67D2, #A4B0FF, #eb4e40, #FCA78A);
    
}
#comments {
    width: 100%;
    border: solid 2px black;
}

.comment {
    border: solid 1px black;
    margin: 1px;
    padding: 5px;
}

.error {
    color: red;
}

a{
    color:blue;
    cursor: pointer;
}
#loginBtn {
 background: linear-gradient(to right, #eb4e40, #FCA78A);
 color: black;
}